* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
}

header, footer {
    background-image: url("../img/fondo-header.png");
    background-repeat: repeat;
}

main {
    padding-top: 20px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: rgb(211, 65, 102);
}

.navbar {
    display: none;
    margin-bottom: 30px;
}

.header-lista {
    text-align: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 238, 238);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-lista a {
    text-decoration: none;
    color: black;
}

.header-lista li {
    flex: auto;
    list-style-type: none;
}

.header-lista a:hover {
    color: rgb(211, 65, 102);
}

.footer {
    display: flex;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 50px;
}

.footer-texto {
    display: flex;
    width: 80%;
    padding-left: 15px;
    text-align: left;
    background-color:rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

.footer-texto-mobile {
    display: none;
}

.footer-nav li {
    display: inline-flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding-right: 7px;
}

.center {
    text-align: center;
}

/* INDEX */


.index__promo {
    background: rgb(255,240,244);
    background: linear-gradient(142deg, rgba(255,240,244,0.5382353625043768) 0%, rgba(252,70,113,0.5858544101234244) 100%); 
    border: 2px solid rgba(252,70,113,0.5858544101234244);
    min-width: 250px;
    height: 250px;
    padding: 14px;
}

.index__texto-promo {
    text-align: center;
    font-size: 34px;

/*
.index-img {
    grid-area: index-img;
}

.index-texto {
    grid-area: index-texto;
    width: 70%;
}

.promo1 {
    grid-area: promo1;
    justify-self: right;
}

.promo2 {
    grid-area: promo2;
    justify-self: center;
}

.promo3 {
    grid-area: promo3;
    justify-self: left;
} */


/* 
.promo1, .promo2, .promo3 {
    background: rgb(255,240,244);
    background: linear-gradient(142deg, rgba(255,240,244,0.5382353625043768) 0%, rgba(252,70,113,0.5858544101234244) 100%); 
    border: 2px solid rgba(252,70,113,0.5858544101234244);
    width: 270px;
    height: 270px;
    padding: 14px;
}

.promo1 p, .promo2 p, .promo3 p {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
} */



/* PÁGINA NOSOTROS */




/* página sucursales */

.grid-sucursales {
    display: grid;
	grid-template-columns: 500px 500px;
    grid-template-areas: "titulo-grid titulo-grid" 
                         "mapa1 direccion1"
                         "mapa2 direccion2";
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
    row-gap: 8%;
    padding-bottom: 120px;
}

.mapa1-mobile, .mapa2-mobile {
    display: none;
}

.mapa1 {
    grid-area: mapa1;
    justify-self: auto;
}

.mapa2 {
    grid-area: mapa2;
}

.direccion1 {
    grid-area: direccion1;
}

.direccion2 {
    grid-area: direccion2;
}


/* página sabores */

.sabor {
    color:rgb(211, 65, 102);
    font-weight: 600;
    text-align: right;
}

.titulo-sabor {
    color: rgb(90, 50, 74);
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid rgb(90, 50, 74);
    padding-top: 10px;
}


@media screen and (max-width: 992px) {

    
    .header-nav {
        display: none;
    }

    .navbar {
        display: block;
    }

    .navbar-light {
        background-color: rgb(255, 238, 238);
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

   .active, .navbar-brand {
        color: rgb(211, 65, 102) !important;
    }

    .header-lista {
        text-align: center;
        display: block;
        padding: 10px;
    }
    
    .footer {
        display:block;
    }
    
    .footer-texto {
        display: none;
    }

    .footer-texto-mobile {
        display: block;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        background-color:rgba(255, 255, 255, 0.8);
    }
    
    .footer-nav {
        text-align: center;
        padding-top: 20px;
    }

    .footer-nav li {
        display: inline-block;
    }
    
  
    
    /* index */

    .index__img{
        width: 80%;
    }

    .index__promo {
        width: 80%;
        margin: 10px;
    }
/* 
    }
    
    .index-img {
        grid-area: index-img;
        width: 80%;
        max-width: 400px;
    }
    
    .img-index {
        width: 100%;
    }
    .index-texto {
        grid-area: index-texto;
        width: 90%;
    } */
    
    /* .promo1, .promo2, .promo3 {
        background: rgb(255,240,244);
        background: linear-gradient(142deg, rgba(255,240,244,0.5382353625043768) 0%, rgba(252,70,113,0.5858544101234244) 100%); 
        border: 2px solid rgba(252,70,113,0.5858544101234244);
        width: 300px;
        height: 200px;
        padding: 14px;
    } */
/*     
    .promo1 p, .promo2 p, .promo3 p {
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    } */

    /* página nosotros  */

    .nosotros {
        
    }
/* 
    .grid-nosotros {
        display: grid;
        grid-template-columns: 80%;
        grid-template-areas: "titulo-grid"
                             "img1"
                             "texto1"
                             "img2"
                             "texto2"
                             "img3"
                             "texto3";
        justify-items: center;
        align-items: center;
        gap: 2%;
        padding: 10px;
        padding-bottom: 200px;
    }

    .texto1, .texto2, .texto3 {
        text-align: center;
    } */


    /* página sucursales */

    .grid-sucursales {
	    grid-template-columns: 80%;
        grid-template-areas: "titulo-grid" 
                            "mapa1"
                            "direccion1"
                            "mapa2"
                            "direccion2";
        justify-items: center;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        row-gap: 6%;
        padding-bottom: 200px;
    }

    /* página sabores */
    
    .sabor {
        text-align: left;
    }
}


@media only screen and (max-width: 600px) {
    
    /* index */
/* 
    .promo1, .promo2, .promo3, {
        width: 300px;
    } */
    
    /* página sucursales */

    .grid-sucursales {
	    grid-template-columns: 80%;
        grid-template-areas: "titulo-grid" 
                            "mapa1-mobile"
                            "direccion1"
                            "mapa2-mobile"
                            "direccion2";
        justify-items: center;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        row-gap: 6%;
        padding-bottom: 220px;
    }

    .mapa1, .mapa2 {
        display: none;
    }

    .mapa1-mobile, .mapa2-mobile {
        display: block;
    }
}
