@import './variables';

/* INDEX */
.index {
    text-align: center;
    margin-top: 40px;

    &__newsletter {
        padding-top: 20px;
        padding-bottom: 20px;

        &__texto {
            @include important-text;
            font-size: 26px;

            &-correo {
                @extend .index__newsletter__texto;
                font-size: 18px;
                text-transform: none;
            }
        }
    }

    &__promo_texto {
        font-size: 34px;
    }

    &__card {
        background: rgb(255,240,244);
        background: $cardGradientColor;
        border: 2px solid $cardBorderColor;
        width: 250px;
        height: 250px;
        padding: 14px;
    }

    img {
        max-width: 850px;
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {

    .index__card {
        width: 80%;
        height: 100%;
    }
    
}