@import './variables';

/* PÁGINA NOSOTROS */

.nosotros {
    display: grid;
	grid-template-columns: 500px 500px;
    grid-template-areas: "img-1 texto-1"
					     "texto-2 img-2"
                         "img-3 texto-3";
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 50px;

    & p {
        text-align: justify;
    }

    &__img {
        &_1 {
            grid-area: img-1;
        }
        &_2 {
            grid-area: img-2;
        }
        &_3 {
            grid-area: img-3;
        }
    }

    &__texto {
        &_1 {
            grid-area: texto-1;
        }
        &_2 {
            grid-area: texto-2;
        }
        &_3 {
            grid-area: texto-3;
        }
    }
}

@media screen and (max-width: 1024px) {

    .nosotros {
        grid-template-columns: 80%;
        grid-template-areas: "img-1"
                             "texto-1"
                             "img-2"
                             "texto-2"
                             "img-3"
                             "texto-3";
        gap: 2vw;
        padding-bottom: 10px;

        & img {
            width: 100%;
        }

        & p {
            margin-left: 2vw;
            margin-right: 2vw;
            margin-top: 1vw;
        }
    }
}